$slot-sidelength: 56px;
$slot-margin: 8px;
$standard-bg: #000;
$debug-offset-X: 0px;
$debug-offset-Y: 0px;
$bg-image-margin: 4px;
$bg-image-position-X: 598px - 3 * ($slot-sidelength + $bg-image-margin);
$bg-image-position-Y: 442px;

.hide-element {
	width: 50px;
	height: 30px;
	background-color: $standard-bg;
	font-family: "MarioFont", Fallback, sans-serif;
	font-size: 23px;
	color: #FFF;
	padding-left: 7px;
}

.coins {
	position: absolute;
	margin-top: 27px + $debug-offset-Y;
	margin-left: 280px + $debug-offset-X;
}

.lives {
	position: absolute;
	margin-top: 107px + $debug-offset-Y;
	margin-left: 360px + $debug-offset-X;
}

.slot-container {
	width: 3*$slot-sidelength + 2*$slot-margin;
	height: $slot-sidelength;
	margin-top: 180px;
	margin-left: 164px;
}

.slot-picture {
	background-color: $standard-bg;
	width: $slot-sidelength;
	height: $slot-sidelength;
	background-image: url("../images/smb2_various_sheet.png");
	background-size: 900px 910px;
}

.slot2, .slot3 {
	margin-left: $slot-margin;
	float: right;
}

@keyframes fontbulger {
  0% {
    font-size: 10px;
  }
  30% {
    font-size: 15px;
  }
  100% {
    font-size: 12px;
  }
}

@function positionX($i) {
	@return ($bg-image-position-X + ($i - 1)*($slot-sidelength + $bg-image-margin))
}