.stage {
	background-image: url("/images/backdrop.png");
	position: absolute;
	width: 512px;
	height: 480px;
	left: 50%; top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

$length: 50;
$animationlength: (12, 33, 24, 45);
$random: ((2, 4, 1, 3), (4, 2, 3, 2, 3, 1, 4, 2), (1, 2, 4, 3, 1, 2, 3, 1, 2 ,3, 1, 4), (1, 4, 3, 2, 3, 1));

@function randomIndex($i, $rand) {
	@return (($i + $rand) % length($random)) + 1;
}

@for $rand from 1 through length($random) {
	@for $i from 1 through 4 {
		@keyframes animate-to-slotimage#{$i}-randomized#{$rand} {
			$c: 0;
			@for $j from 1 through ($length) { // - nth($animationlength, $i)
				#{$j*(100 / $length) * 1%} {
					$c: $c + 1;
					@if $c == length(nth($random, randomIndex($i, $rand))) {
						$c: 1;
					}
					$r: nth(nth($random, randomIndex($i, $rand)), $c);
					background-position: positionX($r) $bg-image-position-Y;
				}
			}
			//@for $j from ($length - nth($animationlength, $i) + 1) through $length {
			//	#{$j*(100 / $length) * 1%} {
			//		background-position: positionX($i) $bg-image-position-Y;
			//	}
			//}
		}
	}
}

$durations: (2s, 2.5s, 3s, 3.5s, 4s, 4.5s, 5s, 6s, 7s, 8s);

@function aniTitle($i, $rand) {
	@return animate-to-slotimage#{$i}-randomized#{$rand};
}


// here it creates 4 * length($durations) * length($random) different animations :P
// 4 -> animations for every one of the 4 images to appear in the slot
// length($durations) -> $durations is an array filled with different values for the
//						 duration for the animation
// length($randomized) -> the two-dimensional array $random contains definitions for image-steps for the
//                        animation - the more steps the faster the images change in the animation...
//
// the image, the duration and the "randomization" (= which steps-definition to take) can be chosen
// via javascript ba applying the specific class

@for $rand from 1 through length($random) {
	@for $duration from 1 through length($durations) {
		@for $i from 1 through 4 {
			.image#{$i}-duration#{$duration}-randomized#{$rand} {
				  -webkit-animation: aniTitle($i, $rand) nth($durations, $duration) steps(1); /* Safari 4+ */
		  		  -moz-animation:    aniTitle($i, $rand) nth($durations, $duration) steps(1); /* Fx 5+ */
		  		  -o-animation:      aniTitle($i, $rand) nth($durations, $duration) steps(1); /* Opera 12+ */
		  		  animation:         aniTitle($i, $rand) nth($durations, $duration) steps(1); /* IE 10+ */
		  		  background-position: positionX($i) $bg-image-position-Y;
			}
		}
	}
}

@for $i from 1 through 4 {
	.image#{$i} {
		background-position: positionX($i) $bg-image-position-Y;
	}
}