$bgColor: rgb(154, 78, 0);

@import "fonts";
@import "reset";
@import "stage";

body {
    background: $bgColor;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    margin: 0;
}

